.pages {
  .loginPage {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: 1 2;
  }

  .loginPage .item {
    background: cornsilk;
    padding: 5px;
    margin: 20px 20px 20px 20px;
    color: black;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    max-width: 400px;
    justify-content: center;
  }
  .loginPage .item .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    flex: auto 3;
    margin-top: 10px;
  }

  .loginPage .logo {
    width: 65%;
  }

  .paddedPage {
    padding: 20px;
    align-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .resDetails {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .resDetails .obj {
    max-width: 1600px;
    margin: 20px 20px 20px 20px;
    align-items: center;
  }

  .detailsReservation {
    width: 90%;
    overflow: hidden;
    min-height: 100px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .detailsReservation .values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
    width: 400px;
  }
}
