.loading {
  display: flex;
  flex-direction: column;
}

.searchField {
  display: flex;
  align-items: center;
  padding: 5px;
}

.table {
  width: 90%;
  overflow: hidden;
  margin-left: 5%;
  margin-bottom: 20px;
}

.listOfProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.singleProductCard {
  height: 370px;
  width: 200px;
  margin: 10px;
}

.dialogElement {
  display: flex;
  align-items: center;
  margin: 10px;
}
