.loading {
  display: flex;
  flex-direction: column;
}

.searchField {
  display: flex;
  align-items: center;
  padding: 5px;
}

.table {
  width: 90%;
  overflow: hidden;
  margin-left: 5%;
  margin-bottom: 20px;
}

.listOfProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.singleProductCard {
  height: 370px;
  width: 200px;
  margin: 10px;
}

.dialogElement {
  display: flex;
  align-items: center;
  margin: 10px;
}

.headerOperator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  justify-content: space-evenly;
}

.operatorListCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.operatorListCards .singleCard {
  height: 250px;
  width: 300px;
  margin: 10px;
}

.multipleActions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
